page-home {

.fixed-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
    background-color: #A0F739 !important;
}
    

    
    .padre {
  padding: 10px 2rem;
     margin-top: 5rem;
        margin-left :3rem;
        
}
    
    
    .button-ios {
  border-radius: 4px;
  height: 2.8em;
  font-size: 1.6rem;
  color: black;
  background-color: #f7f7f7;
  margin: 0.4rem 0.2rem;
  padding: 0 1em;
}

.button-ios.activated {
  background-color: #2db50a !important;
     color: #fff;
  opacity: 1;
}

.button-ios:hover:not(.disable-hover) {
  opacity: 0.8;
}
}
